<div class="container">

<div class="panel panel-default tennisblueback tennisline signupforms">
  <div class="panel-heading tennisblueback">  

<h2 class="tennisblue">Add your courts for sponsorship opportunities</h2>
</div>

<div class="panel-body">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :your_name %>
    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :your_email %>
    <%= f.email_field :email, :autofocus => true, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :your_phone %>
    <%= f.text_field :phone, :autofocus => true, class: "form-control" %>
  </div>

</br>

   <div class="form-group">
    <%= f.label :name_of_courts %>
    <%= f.text_field :courtsname, :autofocus => true, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :address_of_courts %>
    <%= f.text_field :courtsaddress, :autofocus => true, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :courtscity, :autofocus => true, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :zip_code %>
    <%= f.text_field :courtszip, :autofocus => true, class: "form-control" %>
  </div>

  <div class="form-group">
     <%= f.label :public_or_private_courts %> 
     <%= f.select(:public, options_for_select([['Public', 1], ['Private', 2]]), {}, {class: "form-control"}) %>
   </div>

   <div class="form-group">
     <%= f.label :number_of_courts %> 
     <%= f.select(:numberofcourts, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20], ['21', 21], ['22', 22], ['23', 23], ['24', 24], ['25', 25], ['26', 26], ['27', 27], ['28', 28], ['29', 29], ['30+', 30]]), {}, {class: "form-control"}) %>
   </div>

   <div class="form-group">
     <%= f.label :sponsorship_money_desired_per_court_annually %> 
     <%= f.select(:sponsorshiplevel, options_for_select([['Over $100', 1], ['Over $250', 2], ['Over $500', 3], ['Over $1000', 4]]), {}, {class: "form-control"}) %>
   </div>

 </br>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
