<%= form_for(@court) do |f| %>
  <% if @court.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court.errors.count, "error") %> prohibited this court from being saved:</h2>

      <ul>
      <% @court.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :facility_name %><br>
    <%= f.text_field :facility, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :region %><br>
    <%= f.text_field :region, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_courts %><br>
    <%= f.number_field :number, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :net_ads %><br>
    <%= f.number_field :net, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fence_ads %><br>
    <%= f.number_field :fence, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bench_ads %><br>
    <%= f.number_field :bench, :autofocus => true, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :painted_on_court_ads %><br>
    <%= f.number_field :paintoncourt, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :renaming_rights %><br>
    <%= f.number_field :rename, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
